<div class="main">
  <div class="container">

    <h1 class="title pt-5"> Welcome to the Game Race </h1>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="sel1">Select list:</label>
          <select #GAME_TYPE (change)="onChangeGameType(GAME_TYPE.value)" class="form-control">
            <option> Select game type </option>
            <option *ngFor="let gameType of gameTypes"> {{ gameType }} </option>
          </select>
        </div>
      </div>
    </div>

    <div *ngIf="isLoading" class="text-center">
      <div class="spinner-border text-primary"></div>
    </div>


    <div  *ngIf="!isLoading && gameInfo">
      <div class="card m-5 p-5">
        <div class="row">
          <div class="col-md-12 text-center">
            <h3> {{ gameInfo.upcoming? 'Upcoming Game': 'Recent end game' }} </h3>
            <p id = "para"  (click)="navigateToScheduleDetail()">{{ gameInfo?.betType }}</p>
            <p>{{ getStartingTime(gameInfo) | date: 'h:mm a z' }}</p>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
