<div class="container">
  <h4 class="mt-4 text-center"> Game detail for {{ races?.id }} </h4>
  <div *ngIf="isLoading" class="text-center">
    <div class="spinner-border text-primary"></div>
  </div>

  <div *ngIf="!isLoading" id="accordion" class="mt-4">
    <div *ngFor="let race of races?.races; let i = index" class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#List-{{ i }}">
          <span class="srNo"> {{ i + 1 }}.  </span>{{ races?.id }} | {{ races?.status }}
        </a>
      </div>
      <div id="List-{{ i }}" class="collapse" [ngClass]="{ 'show':  i == 0? true: '' }" data-parent="#accordion">
        <div class="card-body">

          <div class="row text-center">
            <div class="col-md-4">
              <h5>Date:</h5>
              <p> {{ race?.date | date }} </p>
            </div>

            <div class="col-md-4">
              <h5>Name:</h5>
              <p> {{ race?.name? race?.name: '-' }} </p>
            </div>

            <div class="col-md-4">
              <h5>Schedule start time:</h5>
              <p> {{ race?.scheduledStartTime | date: 'h:mm a z' }} </p>
            </div>

          </div>

          <ng-container  *ngFor="let raceStart of race.starts">
            <hr>
          <div class="row text-center">
            <div class="col-md-3">
              <h5>Number:</h5>
              <p> {{ raceStart?.number }} </p>
            </div>
            <div class="col-md-3">
              <h5>Driver:</h5>
              <p> {{ raceStart?.driver?.firstName + ' '+  raceStart?.driver?.lastName }} </p>
            </div>

            <div class="col-md-3">
              <h5>Horse:</h5>
              <p> {{ raceStart?.horse?.name }} </p>
              <h5> Trainer </h5>
              <p> {{ raceStart?.horse?.trainer?.firstName + ' ' +  raceStart?.horse?.trainer?.lastName}} </p>
            </div>

            <div class="col-md-3">
              <h5>Pedigree:</h5>
              <p> {{ raceStart?.horse?.pedigree?.father?.name }} </p>
            </div>

          </div>
        </ng-container>


        </div>
      </div>
    </div>
  </div>
</div>
